/*
 * changing margins in Card for CardBox component
 * @@ namespaces: 
 *  cards-box should be provided to Card as className property
 *  progress - semantic's selector
 */
 .cards-box .progress {
     margin: 1em 0 1em !important; 
 }

 .page-menu .item {
    padding: .78571429em .32857143em !important;
 }

 .half-padding {
     padding: 0.5rem 0.5rem !important;
 }
